[Desktop Entry]
Name=GnomeEngine
GenericName=Live Wallpaper Engine
Comment=Lightweight live wallpapers for GNOME
Exec=gnomeengine
Icon=io.github.mvk999.GnomeEngine
Terminal=false
Type=Application
Categories=Utility;
Keywords=wallpaper;live;animated;desktop;GNOME;
StartupNotify=true
StartupWMClass=gnomeengine
